/* Main Configure */
body {
  margin: 0px;
  padding: 0px;
}
h1 {
  margin: 15px;
  padding: 15px;
}
p {
  margin: 5px;
  padding: 10px;
}

/* Containers */
#mainContainer {
  background-color: green;
  height: 500px;
}

#musicContainer {
  background-color: red;
  height: 500px;
}

#videoContainer {
  background-color: blue;
  height: 500px;
}

#webdevContainer {
  background-color: yellow;
  height: 500px;
}

#dummyContainer {
  background-color: white;
  height: 500px;
}

/* Headlines */
#mainstart {
}
#musicStart {
}
#videosStart {
}
#webdevStart {
}

/* Button Design */
button {
  background-color: lightblue;
  border-radius: 20px;
  padding: 10px 35px;
  margin: 5px;
}
a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: white;
}
